
<p>I am inline text</p>
<p>I am literal html code </p>
<p>
  Hello World!
  I am Pug, your buddy to write simple HTML templates.<em>Let's explore the world, shall we?</em>Very nice to meet you :)
</p>
<p>
  Hello World!
  I am Pug, your buddy to write simple HTML templates.
  <em>Let's explore the world, shall we?</em>
  Very nice to meet you :)
</p>

<div style="background: black; color: white;" > #{password}</div>

<style type="text/css">
  html, body{
      padding: 0;
      margin: 0;
  }
  
</style>
<div>
  <p>Hello World! I am in a paragraph. I am optional here :(</p>Hey there!
  I am in a block but in `div` tag.
  Because, dot without a tag will put me in parent tag.
  
</div>
<p><b>Hi there! I am <strong>John Doe</strong>.</b></p>
<p><b>Hi there! I am inline <strong>John Doe</strong>.</b></p>
<double-break/>